<!DOCTYPE html>
<html>
<head>
    <%- include('../partial/heads'); %>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../partial/navbar'); %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../partial/left-menu'); %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Order Form</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.card -->

                <!-- SELECT2 EXAMPLE -->
                <form action="/admin/orders/create" method="post">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Enter information below</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>STT</label>
                                        <input type="number" name="stt" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        <input type="text" name="customer" class="form-control" placeholder="Enter name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Product</label>
                                        <input type="text" name="product" class="form-control" placeholder="Enter name">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" name="price" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Time</label>
                                        <input type="date" name="time" class="form-control" placeholder="Enter account">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="number" name="amount" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Save</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                                <a class="btn btn-default" href="/admin/orders"><i class="fas fa-arrow-alt-circle-left"></i></a>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../partial/footer'); %>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<%- include('../partial/script'); %>
</body>
</html>
